html,
body {
  height: 100%;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  line-height: 21.5px;
  font-weight: 400;
  color: $main;
  overflow-x: hidden;
  min-height: 320px;
  &.body--fixed {
    overflow: hidden;
  }
}

::placeholder {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $light;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  width: 17px;
  height: 29px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  &--prev {
    left: 15px;
  }
  &--next {
    right: 15px;
  }
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  li {
    padding: 3px;
    margin: 2px;
  }
  li.slick-active button {
    background-color: #fff;
  }
  button {
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
}

.page-section {
  margin-bottom: 80px;
}

.jq-radio,
.jq-checkbox {
  position: relative;
  width: 14px;
  height: 14px;
  background: none;
  border: 1px solid $light;
  border-radius: 1px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/svg/white-check-mark.svg) no-repeat center;
    background-size: 8px;
  }
  &.checked {
    background-color: $accent;
    border-color: $accent;
  }
  &.filter-style {
    margin-right: 12px;
  }
}

.jq-selectbox {
  &__select {
    height: 40px;
    padding: 8px 20px;
    padding-right: 50px;
    border: 1px solid #d7d9df;
    min-width: 180px;
  }
  &__trigger {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    width: 12px;
  }
  &__trigger-arrow {
    width: 12px;
    height: 100%;
    background: url(../images/svg/gray-arrow-bottom.svg) no-repeat center;
    background-size: contain;
  }
  &__dropdown {
    top: 40px !important;
    width: 100% !important;
    background-color: #fff;
    border: 1px solid #d7d9df;
    border-top: none;
    border-bottom: none;
    li {
      padding: 5px 20px;
      border-bottom: 1px solid #d7d9df;
    }
  }
}

.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  background: url(../images/svg/gray-arrow-top.svg) no-repeat center;
}

.aside-filter__item-select .jq-selectbox {
  &__select {
    padding: 8px 20px;
    padding-right: 35px;
    height: fit-content;
    min-width: fit-content;
    border: none;
    font-size: 14px;
    line-height: 17px;
  }
  &__trigger {
    padding-left: 10px;
  }
  &__dropdown {
    top: 35px !important;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #d7d9df;
    padding: 5px 0;
    li {
      color: rgba(0, 0, 0, 0.6);
      border: none;
      padding: 5px 15px;
    }
  }
}

.irs--flat {
  width: 100%;
  margin-top: 15px;
  .irs-bar {
    height: 3px;
    background-color: $accent;
  }
  .irs-handle {
    width: 8px;
    height: 8px;
    background-color: $accent;
    border-radius: 50%;
    i {
      display: none !important;
    }
  }
  .irs-line {
    height: 1px;
    background-color: #e0e0e0;
  }
  .irs-grid {
    display: none;
  }
  .irs-single,
  .irs-from,
  .irs-to {
    background-color: $accent;
    z-index: 1;
  }
  .irs-min,
  .irs-max {
    margin-top: 5px;
    display: inline-block;
    position: relative;
    visibility: visible !important;
    color: $main;
    top: 35px !important;
    font-size: 14px;
    line-height: 17px;
    background: none;
    font-size: 14px;
    line-height: 17px;
  }
  .irs-max {
    float: right;
  }
  .irs-min::before,
  .irs-max::before {
    content: "from";
    text-decoration: none;
    color: $light;
    margin-right: 10px;
  }
  .irs-max::before {
    content: "to";
  }
  .irs-from:before,
  .irs-to:before,
  .irs-single:before {
    border-top-color: $accent;
  }
}

.mobile-overflow {
  width: max-content;
  white-space: nowrap;
  padding-bottom: 10px;
}