html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 27px;
  font-weight: 400;
  color: $default;
  overflow-x: hidden;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 27px;
  color: $gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %title-font;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}