@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";

.header {
  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 123px;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__address {
    position: relative;
    max-width: 290px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background-size: 23px;
    padding: 5px 0;
    padding-left: 30px;
    overflow-x: auto;
    white-space: nowrap;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 25px;
      height: 27px;
      background: url(../images/svg/marker.svg) no-repeat left top;
      background-size: contain;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box,
  .menu {
    width: 100%;
    max-width: 450px;
  }
  &__top {
    position: relative;
    z-index: 1999;
    background-color: #fff;
  }
  &__bottom {
    background-color: $dafault;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item + &__item {
    margin-left: 50px;
  }
  &__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
  }
  &__btn {
    display: none;
  }
}

.menu-mobile {
  display: none;
}

.user-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 18px;
  &__item {
    padding: 5px;
  }
}

.shop-cart {
  position: relative;
  &__num {
    position: absolute;
    right: -9px;
    bottom: -2px;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: $accent;
    width: 20px;
    height: 20px;
    padding: 5px 0;
    text-align: center;
    border-radius: 50%;
  }
}

.menu-categories {
  display: flex;
  justify-content: space-between;
  &__link {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 0 14px;
    transition: 0.3s;
    &:hover,
    &--active {
      text-shadow: 0px 0.3px $main, 0.3px 0px $main, 0px -0.3px $main,
        -0.3px 0px $main;
      &::after {
        width: 100% !important;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      display: block;
      width: 0%;
      height: 3px;
      background-color: $accent;
      transition: 0.3s;
    }
  }
  &--mobile {
    display: none;
  }
}

.banner-section {
  margin-top: 77px;
  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  &__slider {
    overflow: hidden;
    width: 870px;
    height: 46%;
  }
  &__slider-item {
    display: none;
    width: 100%;
    &:first-child {
      display: block;
    }
  }
  &__slider-img-box {
    position: relative;
    padding-bottom: 46%;
    background: $light;
  }
  &__slider-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.sale-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  max-width: 265px;
  padding: 0 15px 25px;
  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -15px;
  }
  &__info {
    color: #fff;
    background-color: $accent;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 20px;
  }
  &__price {
    padding: 3px 10px;
    text-align: right;
  }
  &__price-new {
    color: $accent;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
  }
  &__price-old {
    width: fit-content;
    margin-left: auto;
    font-size: 16px;
    line-height: 18px;
    color: $light;
    background: url(../images/svg/old-price-line.svg) no-repeat right center;
    background-size: cover;
  }
  &__img-box {
    padding: 0 10px;
    height: 175px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 21px;
  }
  &__footer {
    font-size: 18px;
    line-height: 22px;
    span {
      display: block;
      font-weight: 700;
      color: $accent;
    }
  }
}

.search {
  &__tabs {
    margin-bottom: 25px;
  }
  &__tab {
    display: inline-block;
    padding: 11px 26px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
    transition: 0.1s;
  }
  &__tab.tab--active {
    background: #f0f0f4;
    text-shadow: 0px 0.3px $main, 0.3px 0px $main, 0px -0.3px $main,
      -0.3px 0px $main;
  }
  &__content-item {
    display: none;
  }
  &__content-item.tabs-content--active {
    display: block;
  }
  &__form {
    display: flex;
    align-items: stretch;
    height: 50px;
  }
  &__form-input {
    flex: 1;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
    background-color: $dafault;
    border: none;
    border-radius: 3px 0 0 3px;
    &::placeholder {
      font-size: 16px;
      line-height: 19px;
      color: #656464;
    }
  }
  &__form-btn {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 40px;
    background: #1c62cd;
    border-radius: 3px;
  }
}

.categories {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 30px;
    margin: 0 -15px;
  }
  &__item {
    display: block;
    max-width: 360px;
    width: 100%;
    margin: 15px;
    display: flex;
    align-items: stretch;
    min-height: 130px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 20px 20px 16px;
    transition: 0.3s;
    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border-color: rgba(#cdcdcd, 0);
      .categories__item-title {
        color: $accent;
      }
    }
  }
  &__item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
  }
  &__item-title {
    font-size: 23px;
    line-height: 28px;
    transition: 0.3s;
    padding-bottom: 10px;
  }
  &__item-text {
    position: relative;
    width: fit-content;
    font-size: 14px;
    line-height: 17px;
    color: $light;
    padding-right: 10px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 6px;
      background: url(../images/svg/black-arrow-right.svg) no-repeat center;
      background-size: contain;
      opacity: 0.6;
    }
  }
  &__item-img {
    max-width: 50%;
    max-height: 94px;
    object-fit: contain;
  }
}

.products {
  &__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  &__tabs {
    margin-bottom: 25px;
  }
  &__tab {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
    border-bottom: 2px solid rgba(#000, 0);
    transition: 0.1s;
    & + & {
      margin-left: 50px;
    }
  }
  &__tab.tab--active {
    text-shadow: 0px 0.1px $main, 0.1px 0px $main, 0px -0.1px $main,
      -0.1px 0px $main;
    border-color: $accent;
  }
  &__content {
    display: none;
  }
  &__content.tabs-content--active {
    display: block;
  }
  &__more {
    margin-top: 35px;
  }
  &__more-link {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 16px 43px;
    background-color: $dafault;
  }
}

.product-slider {
  position: relative;
  margin: 0 -15px;
  display: flex;
  &__item {
    width: 25%;
    display: none;
  }
  &__item:nth-child(1),
  &__item:nth-child(2),
  &__item:nth-child(3),
  &__item:nth-child(4) {
    display: block;
  }
  .slider-arrow {
    &--prev {
      left: -20px;
    }
    &--next {
      right: -20px;
    }
  }
}

.product-item {
  padding: 50px 35px 40px;
  text-align: center;
  &--sale::before {
    content: "sale";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    padding: 8px 15px;
    color: #fff;
    background-color: $accent;
  }
  &__wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    margin: 0 15px;
    max-width: 300px;
    border: 1px solid #cdcdcd;
    transition: 0.3s;
    overflow: hidden;
    &:hover {
      border-color: rgba(#000, 0);
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border-radius: 3px;
      color: $accent;
      .product-item__hover-text {
        opacity: 1;
        transform: translateY(-50%);
        transition: opacity 0.3s;
      }
    }
  }
  &__favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    width: 24px;
    height: 24px;
    background: url(../images/svg/heart.svg) no-repeat center;
    background-size: contain;
    &--active {
      background-image: url(../images/svg/heart-fill.svg);
    }
  }
  &__cart {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    border-radius: 10px 0px 0px 0px;
    img {
      width: 30px;
      height: 22.5px;
      object-fit: contain;
    }
  }
  &__hover-text {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 18px 22px;
    background: rgba(#ffffff, 0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translateY(-1000%);
    transition: opacity 0.3s, transform 0s 0.3s;
  }
  &__img-box {
    display: block;
    margin: 0 auto;
    position: relative;
    margin: 0 -20px;
    height: 200px;
    display: block;
    margin-bottom: 14px;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 21px;
    min-height: 42px;
    font-weight: 400;
    margin-bottom: 25px;
    &:hover {
      color: $accent;
    }
  }
  &__price {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
  &__notify-text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: 35px;
    color: $main;
    display: none;
  }
  &__notify-link {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: $accent;
    border-bottom: 1px solid $accent;
    display: none;
  }
  &__wrapper.product-item__not-available {
    border-color: #e0e0e0;
    .product-item__cart,
    .product-item__price {
      display: none;
    }
    .product-item__notify-text,
    .product-item__notify-link {
      display: block;
    }
  }
}

.banner {
  &__link {
    display: block;
  }
  &__img {
    width: 100%;
    height: auto;
  }
}

.footer {
  background-color: $dafault;
  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 44px 0 22px;
  }
  &__item {
    max-width: 300px;
  }
  &__item-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__form {
    display: flex;
    align-items: stretch;
    margin-top: 30px;
  }
  &__form-input {
    flex: 1;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 12px;
    border: none;
  }
  &__form-btn {
    min-width: 105px;
    padding: 8px 16px;
    color: #fff;
    background-color: $accent;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 13px;
    line-height: 14px;
  }
  &__nav-item {
    max-width: 160px;
    margin-bottom: 5px;
  }
  &__nav-link {
    font-size: 15px;
    line-height: 15px;
  }
  &__social {
    display: flex;
  }
  &__social-link + &__social-link {
    margin-left: 30px;
  }
  &__social-img {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px 0;
    text-align: center;
  }
  &__bottom-link {
    font-size: 14px;
    line-height: 16px;
    color: #48494d;
    margin: 6px 40px;
  }
}

.breadcrumbs {
  margin: 40px 0;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 18px;
    color: $light;
    text-transform: capitalize;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 6px;
      height: 100%;
      background: url(../images/svg/gray-arrow-right.svg) no-repeat center;
      background-size: contain;
    }
    &:last-child::after {
      display: none;
    }
  }
}

.catalog {
  margin-bottom: 100px;
  &__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__filter-items {
    display: flex;
    flex-wrap: wrap;
    a,
    button {
      color: rgba($main, 0.7);
      background-color: $dafault;
      border-radius: 3px;
      font-size: 14px;
      line-height: 17px;
      padding: 5px 22px;
      margin-left: 8px;
    }
  }
  &__filter-btn {
    display: flex;
    align-items: center;
  }
  &__filter-btngrid,
  &__filter-btnline {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    opacity: 0.6;
    &--active {
      opacity: 1;
    }
  }
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__aside {
    width: 300px;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-right: -15px;
    .product-item__wrapper {
      display: block;
      width: 260px;
      margin: 15px;
      transition: 0s;
    }
  }
  &__content.catalog__content--line {
    .product-item__wrapper {
      width: 100%;
      max-width: 100%;
    }
  }
}

.aside__btn {
  display: none;
}

.aside-filter {
  &__tab {
    display: inline-block;
    color: $light;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 2px solid rgba(#000, 0);
    &.tab--active {
      color: $main;
      border-color: $accent;
      text-shadow: 0px 0.3px $main, 0.3px 0px $main, 0px -0.3px $main,
        -0.3px 0px $main;
    }
    &:hover {
      color: $main;
    }
  }
  &__tab + &__tab {
    margin-left: 40px;
  }
  &__content {
    display: none;
    &.tabs-content--active {
      display: block;
    }
  }
  &__item-drop {
    margin-top: 30px;
  }
  &__item-drop--hidden {
    .aside-filter__item-title::before {
      transform: translateY(-50%) rotate(-180deg);
    }
    .aside-filter__item-content {
      display: none;
    }
  }
  &__item-title {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
    cursor: pointer;
    margin-bottom: 15px;
    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: url(../images/svg/gray-arrow-top.svg) no-repeat left center;
      background-size: contain;
    }
  }
  &__item-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
  }
  &__item-box {
    display: inline-block;
    min-width: 50%;
    width: fit-content;
    // padding-right: 30px;
  }
  &__item-label {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
  }
  &__item-input {
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid $light;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 14px;
    &::placeholder {
      font-size: 14px;
      line-height: 14px;
    }
  }
  &__item-line {
    margin-top: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid $light;
    .aside-filter__item-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .aside-filter__item-title {
      margin-bottom: 0;
      &::before {
        background: none;
      }
    }
  }
  &__btn {
    display: block;
    width: 100%;
    color: #fff;
    background-color: $accent;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    padding: 16px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  &__reset {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: $light;
    text-align: center;
    border-bottom: 1px solid $light;
    letter-spacing: 0.05em;
    font-size: 16px;
    line-height: 16px;
  }
}

.pagination {
  grid-column: span 3;
  margin-top: 40px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    margin: 0 5px;
  }
  span,
  a {
    width: 40px;
    height: 40px;
    display: block;
    padding: 9px 0 11px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }
  &__item.active {
    margin: 0 20px;
    a,
    span {
      color: $accent;
      border: 2px solid $accent;
    }
  }
}

.product-card {
  margin-bottom: 80px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__img-box {
    position: relative;
    max-width: 500px;
    padding-top: 64px;
    text-align: center;
    &::before {
      padding: 13px 25px;
      border-radius: 3px;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
    }
  }
  &__img {
    width: 100%;
  }
  &__price-old {
    display: inline-block;
    background: url(../images/svg/old-price-line-2.svg) no-repeat center center;
    background-size: cover;
    color: rgba($main, 0.6);
    font-size: 24px;
  }
  &__price {
    margin-top: 6px;
    margin-bottom: 17px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
  }
  &__link {
    display: inline-block;
    color: $accent;
    font-size: 15px;
    line-height: 18px;
    border-bottom: 1px solid $accent;
  }
  &__content {
    max-width: 570px;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
  &__code {
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 18px;
    color: rgba($main, 0.6);
  }
  &__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  &__icon-favorite {
    display: inline-block;
    position: static;
    margin-right: 30px;
  }
  &__icon {
    display: inline-block;
    margin-right: 25px;
  }
  &__tabs {
    padding-bottom: 10px;
  }
  &__tab {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 2px solid rgba(#000, 0);
    color: rgba($main, 0.6);
    padding-right: 17px;
    transition: 0.1s linear;
    &.tab--active {
      color: $main;
      text-shadow: 0px 0.3px $main, 0.3px 0px $main, 0px -0.3px $main,
        -0.3px 0px $main;
      border-color: $accent;
    }
    & + & {
      padding-left: 17px;
    }
  }
  &__tab-content {
    display: none;
    &.tabs-content--active {
      display: block;
    }
  }
  &__list {
    margin-bottom: 10px;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 8px 0;
    font-size: 20px;
    line-height: 24px;
  }
  &__more {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
  &__btn {
    a {
      display: inline-block;
      min-width: 160px;
      margin-top: 40px;
      padding: 16px 30px;
      color: #fff;
      text-transform: uppercase;
      background-color: $accent;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.3em;
      border-radius: 3px;
    }
  }
  &__btn--mobile {
    display: none;
  }
}

.card {
  &__tabs {
    margin-bottom: 100px;
  }
  &__tabs-box {
    overflow-x: auto;
    background-color: #f0f0f4;
    margin-bottom: 50px;
    .mobile-overflow {
      width: 100%;
      min-width: max-content;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 23px 0 18px;
    }
  }
  &__tab {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    border-bottom: 2px solid rgba(#000, 0);
    padding-bottom: 5px;
    margin: 0 10px;
    &.tab--active {
      opacity: 1;
      border-color: $accent;
    }
  }
  &__tab-content {
    display: none;
    &.tabs-content--active {
      display: block;
    }
  }
  &__top-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__label-search {
    position: relative;
    width: fit-content;
    font-size: 17px;
    line-height: 20px;
    color: rgba($main, 0.7);
    margin-right: 100px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
      height: 100%;
      background: url(../images/svg/search.svg) no-repeat left center;
    }
  }
  &__input-search {
    width: 313px;
    padding: 9px 37px 9px 17px;
    margin-left: 10px;
    background: #f0f0f4;
    border-radius: 3px;
    border: none;
    &::placeholder {
      font-size: 0;
    }
  }
  &__label-pickup {
    display: flex;
    align-items: center;
    margin-left: 54px;
    color: rgba($main, 0.7);
  }
  &__input-pickup {
    font-size: 17px;
    line-height: 20px;
    margin-right: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba($main, 0.1);
    font-size: 16px;
    line-height: 19px;
    color: rgba($main, 0.7);
  }
  &__item--title {
    font-size: 20px;
    line-height: 24px;
    color: $main;
  }
  &__item-address {
    width: 270px;
    margin-right: 50px;
  }
  &__item-workhours {
    width: 200px;
    margin-right: 55px;
    span {
      display: inline-block;
      width: 60px;
    }
  }
  &__item-available {
    width: 140px;
    margin-right: 100px;
  }
  &__item-number {
    width: 100px;
    margin-right: auto;
  }
  &__item-button {
    width: 120px;
  }
  &__item-button button {
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background-color: $accent;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3em;
    border-radius: 3px;
  }
}

@import "media";
